body {
    background-color: #ecf0f5;
}

.navbar {
    border-radius: 0 !important;
}

.navbar-red {
    height: 50px;
    background-color: #DA1A1A;
}

.navbar-red .navbar-header .navbar-brand {
    color: #FFFFff;
}

/*.navbar-red .navbar-nav li.active a,*/
.navbar-red .navbar-nav li a {
    color: #FFFFff;
}

.navbar-red .navbar-nav li.active a,
.navbar-red .navbar-nav li a:focus,
.navbar-red .navbar-nav li a:hover {
    /*background-color: #bb1616;*/
    background-color: #FFFFFF;
    color: #7d7d7d;
}

/*.navbar-red .navbar-nav li.active,*/
.navbar-red .navbar-nav li .dropdown-menu {
    background-color: #fafafa;
}

.navbar-red .navbar-nav li .dropdown-menu li a {
    color: #9d9d9d;
}

.navbar-red .navbar-nav li .dropdown-menu li a:hover {
    color: #5a5a5a;
}

.small-box .inner {
    text-align: center;
}

.small-box:hover {
    color: inherit;
}

.bg-white {
    background-color: #FFFFff !important;
}

.box {
    border-top: 0 !important;
}