.alert-flat {
    border-radius: 2px;
}

.btn.btn-flat {
    border-radius: 2px;
}

.form-control {
    border-radius: 2px !important;
}

table thead tr th,
table tbody tr td {
    text-align: center;
}

#cart-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255,255,255,0.8);
    height: 100%;
    width: 100%;
    display: block;
}
    #cart-cover #content {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -90px;
        margin-top: -20px;
    }

.push-xs {
    height: 5px;
}

.push-sm {
    height: 10px;
}

input[type=number] {
    text-align: right;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.has-feedback .form-control{
    padding-left: 35px;
    padding-right: 0;
}

.form-control-feedback {
    left: 0;
}

#form-package-upload {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
}

.comment {
    padding: 5px 20px 5px 10px;
}

.comment .item {
    margin-bottom: 30px;
}
.comment .item > img {
    width: 40px;
    height: 40px;
    border: 2px solid #DDDDDD;
    border-radius: 50% !important;
}
.comment .item > .message {
    margin-bottom: 5px;
}